<% content_for :page_header do %>

<h2>What are you uploading?</h2>
<p>Before we can begin we need to know a little about what you're uploading.</p>

<% end %>


<div class="row-fluid">
  <ul class="thumbnails">
    <% classify_concern.all_curation_concern_classes.each do |klass| %>
      <li class="span2">
        <div class="thumbnail">
          <div class="icon">
            <h3><%= klass.human_readable_type %></h3>
            <p class="short-description"><%= klass.human_readable_short_description %></p>
            <p>
              <%= link_to 'Add New',
                classify_concerns_path(classify_concern: {"curation_concern_type"=>klass.name}),
                class: "btn btn-primary #{dom_class(klass, 'add_new')}", method: :post
              %>
            </p>
          </div>
        </div>
      </li>
    <% end %>
    <!--<li class="span2 disabled">
      <div class="thumbnail">
        <div class="icon">
          <h3>Datasets</h3>
          <p class="short-description">Upcoming</p>
          <p><a class ="btn disabled">Add New</a></p>
        </div>
      </div>
    </li>-->
  </ul>
</div>
