<% content_for :page_header do %>

<h2>What are you uploading?</h2>
<p>Before we can begin we need to know a little about what you're uploading.</p>

<% end %>


<div class="row-fluid">
  <ul class="thumbnails">
    <% classify_concern.possible_curation_concern_types.each do |key,value| %>
      <li class="span2">
        <div class="thumbnail">
          <div class="icon">
            <h3><%= key %></h3>
            <p>Need Caption Text</p>
            <p> <%= link_to 'Add New', classify_concerns_path(:classify_concern => {"curation_concern_type"=>value}), :class => "btn btn-primary", :method => :post %> <%# f.submit('Continue', class: "btn btn-primary") %> </p>
          </div>
        </div>
      </li>
    <% end %>
    <li class="span2 disabled">
      <div class="thumbnail">
        <div class="icon">
          <h3>Datasets</h3>
          <p>Up coming</p>
          <p> <a class ="btn">Add New</a> </p>
        </div>
      </div>
    </li>
  </ul>
</div>
