<tr>
  <td>
    <%= link_to organization.title, organization_path(organization) %>
  </td>
  <td>
    <% if can? :edit, organization %>

        <%= button_to(
                "Delete",
                {
                    action: :destroy,
                    controller: :organizations,
                    id: organization.id
                },
                data: {confirm: 'Are you sure you want to delete this organization?'},
                class: 'btn',
                form_class: 'button-to pull-right',
                method: :delete
            )%>

      <%= link_to "Edit", edit_organization_path(organization), class: 'btn pull-right' %>
    <% end %>
  </td>
</tr>
