<%- if has_any_organizations? %>
  <%= render_document_index %>
<%- else %>
  <div class="span12 main-header">
    <p>You have no organizations yet.</p>
  </div>
<%- end %>

<% if can? :create, Organization %>
  <%= button_for_create_new_organization %>
<% end %>
