.bundle/
log/*.log
pkg/
spec/dummy/db/*.sqlite3
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/jetty/*
spec/dummy/spec/jetty_generator
spec/dummy/.sass-cache
Gemfile.lock
.rvmrc
vendor/cache
.sass-cache