Mark Bussey <mark@curationexperts.com> mark-dce <mark@curationexperts.com>
Valerie Maher <val99erie@gmail.com> val99erie <val99erie@gmail.com>
Banurekha L <banurekha.l@gmail.com> banurekha <banurekha.l@gmail.com>
Rajesh Balekai <rbalekai@nd.edu> rbalekai <rbalekai@nd.edu>