<% content_for :page_header do %>
  <h1>Object Not Available</h1>
<% end %>
<p>This object is presently not available.</p>

<div class="form-actions">
  <%= link_to "Login", new_user_session_path, class: 'btn btn-primary' %>
</div>
