<div class="row page-title">

  <div class="span12">

    <h1>Describe Your Thesis</h1>
    <p>The more information we have about your data the better we can serve you.</p>

  </div>

</div>

<form>
<div class="row">

  <div class="span6">

    <fieldset>
      <legend>
        Authorship
      </legend>

      <label for="thesis-title">
        Title
      </label>
      <input id="thesis-title" name="title" type="text" class="input-xlarge" placeholder="The title of your thesis" required/>

      <label for="thesis-degree">
        Degree
      </label>
      <input id="thesis-degree" name="degree" type="text" class="input-xlarge" placeholder="The degree you are seeking" required/>

      <label for="thesis-department">
        Department
      </label>
      <input id="thesis-department" name="department" type="text" class="input-xlarge" placeholder="Your area of study" required/>

    </fieldset>

  </div>

  <div class="span6">

    <fieldset class="form-inline">
      <legend>
        Advisory Committee
      </legend>

      <label for="thesis-advisor-name">
        Name
      </label>
      <input id="thesis-advisor-name" name="advisor-name" type="text" class="input-large"/>

      <label for="thesis-advisor-title">
        Title
      </label>
      <select id="thesis-advisor-title">
        <option value=""></option>
        <option value="advisor">Advisor</option>
        <option value="reviewer">Reviewer</option>
        <option value="consultant">Consultant</option>
      </select>

      <div class="row">
        <div class="secondary-actions span6">
            <a href="#" class="btn">Add Advisor</a>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend>
        Supplementary Files
      </legend>

      <em>This thesis has no supplimentary files.</em>

      <div class="row">
        <div class="secondary-actions span6">
            <a href="#" class="btn">Add File</a>
        </div>
      </div>
    </fieldset>

  </div>

</div>

<div class="row">
  <div class="span12">
    <fieldset>
      <legend>Abstract</legend>

      <label for="thesis-abstract" class="accessible-hidden">
        Abstract
      </label>
      <textarea id="thesis-abstract" name="abstract" rows="15" class="input-xxlarge" required></textarea>

    </fieldset>
  </div>
</div>

<div class="row">
  <div class="form-actions span12">
    <div class="control">
      <a href="#" class="btn btn-primary">Save Metadata</a>
    </div>
  </div>
</div>

</form>
