<% content_for :page_title, curation_concern_page_title(curation_concern) %>
<% content_for :page_header do %>

<h2>Manage Your Thesis</h2>
<p>
  You can enrich the metadata describing your thesis at any time.
  The more complete the description the easier it will be to find by yourself and others.
</p>
<p>
  Please consider releasing your thesis as an Open Access work.
</p>

<% end %>

<%= render 'form' %>
