<% content_for :page_title, curation_concern_page_title(curation_concern) %>
<% content_for :page_header do %>

<h2>Describe Your Thesis</h2>
<p>
  The more descriptive information you provide the better we can serve your needs.
</p>
<p>
  Please consider releasing your thesis as an Open Access work.
</p>

<% end %>

<%= render 'form' %>
