<% unless curation_concern.persisted? %>
  <div class="row with-headroom">
      <div class="span12">
        <fieldset class="required">
        <legend>
          Attach Your File.
          <strong>Note - Files larger than <%= t('sufia.supported_file_upload_size') %> are currently not supported by <%=t('sufia.product_name')%>. Please contact <%= support_email_link %> for assistance.</strong>
        </legend>
          <%= f.input :files, as: :file, label: 'Upload your file' %>
        </fieldset>
      </div>
  </div>
<% end %>
