<% unless curation_concern.persisted? %>
  <div class="row with-headroom">
      <div class="span12">
        <fieldset class="required">
        <legend>
          Attach Your File.
          <strong>Note - For files larger than<%= t('sufia.supported_file_upload_size') %> please contact <%= mail_to t('sufia.help_email') %> for assistance.
        </legend>
          <%= f.input :files, as: :file, label: 'Upload your file' %>
        </fieldset>
      </div>
  </div>
<% end %>
