<% unless curation_concern.persisted? %>
  <div class="row with-headroom">
      <div class="span12">
        <fieldset class="required">
          <legend>
            Attach Your File
            <small>A PDF is preferred.</small>
          </legend>
          <%= f.input :files, as: :file, label: 'Upload your file' %>
        </fieldset>
      </div>
  </div>
<% end %>
