<div class="row">

  <fieldset class="span12">
    <legend>Change <%= current_user.manager? ? f.object.name + "'s" : 'Your' %> Password</legend>

    <%= f.input :password, label: "New password", input_html: { autocomplete: "off" } %>
    <%= f.input :password_confirmation, label: "Repeat the new password", input_html: { autocomplete: "off" } %>
  </fieldset>

</div>

<% unless current_user.manager? %>
  <div class="row">
    <fieldset class="span12">
      <legend>Authorize Your Changes</legend>
      <p><em>Enter your current password to confirm your changes</em></p>

      <%= f.input :current_password, required: true %>

   </fieldset>
  </div>
<% end %>
