<nav class="container page-actions">
  <div class="row">
    <div class="span12 action-bar">
      <ul class="nav nav-pills" role="menu">
        <li><a href="#">One</a></li>
        <li><a href="#">Two</a></li>
        <li><a href="#">Three</a></li>
        <li class="pull-right">
          <%= link_to 'Log Out', destroy_user_session_path %>
        </li>
      </ul>
    </div>
  </div>
</nav>
