<% content_for :hide_page_navigation, 'yes' %>
<% content_for :page_header do %>

<h2>What is CurateND? </h2>

<% end %>

<% content_for :left_column_class, 'span5' %>
<% content_for :left_column do %>

<p>
  CurateND is a secure repository service enabling the University of Notre Dame
  community to share its research and scholarly work with a worldwide audience.
  Faculty, staff, and students can use CurateND to collect their work in one
  location and create a durable and citeable record of their papers,
  presentations, publications, data sets, or other scholarly creations. Through
  this service, University of Notre Dame researchers can also comply with
  grant-funding-agency requirements for sharing and managing research data.
</p>

<% end %>

<% content_for :right_column_class, 'span7 emphatic-action-area' %>
<% content_for :right_column do %>

  <%= link_to 'Get Started', classify_path, :class => "btn btn-large btn-primary" %>

<% end %>
