<% unless curation_concern.persisted? %>
  <div class="row with-headroom">
      <div class="span12">
        <fieldset class="required">
          <legend>
            Attach Your File
          </legend>
          <%= f.input :files, as: :file, label: 'Upload your file' %>
        </fieldset>
        <fieldset class="span6">
          <p>Please click the button below to upload remote files.</p>
          <p id="status"></p>
          <%= form_tag('/file', id: 'main_form', method: 'post') do %>
              <%= button_tag("Browse!", type: 'button', class: 'btn btn-large btn-success', id: "browse",
                             'data-toggle' => 'browse-everything', 'data-route' => browse_everything_engine.root_path,
                             'data-target' => '#main_form' ) %>
              <%= button_tag("Submit", type: 'submit', class: 'btn btn-large btn-primary', id: "submit-btn") %>
          <% end %>
        </fieldset>
      </div>
  </div>
<% end %>
