<% unless curation_concern.persisted? %>
  <div class="row with-headroom">
      <div class="span12">
        <fieldset class="required">
          <legend>
            Attach Your File
          </legend>
          <%= f.input :files, as: :file, label: 'Upload your file' %>
        </fieldset>
        <%#render "form_browse_everything", curation_concern: curation_concern, f: f %>
      </div>
  </div>
<% end %>
