.link-groups {
  .input-append .linked-group {
    display: inline-block;
    width: 275px;
    height: 20px;
    padding: 4px;
    font-size: 14pt;
    border-radius: 4px 0 0 4px;
    border: 1px solid #cccccc;
  }

  .listing {
    margin: 0;
  }
}

