body {
  padding:0;
}

#site-search{
  form {
    margin:2em 0;
    text-align:right;
  }
}

#footer .row {
  margin-bottom:1em;
  margin-top:3em;
}

.page-search {
  padding-top:2em;
  text-align:right;
}

legend .pull-right {
  margin-top:.2em;
}

.with-headroom {
  padding-top:3em;
}

.with-side-padding {
  padding-left:2em;
  padding-right:2em;
}

dl.stacked {
  dt {
    clear:both;
    float:left;
    width:30%;
  }

  dd {
    clear:right;
    margin:0 0 0 30%;
    width:70%;
    word-wrap:break-word;
  }
}

.main-header {
  border-bottom: 1px solid $grayLighter;
  margin-bottom: 30px;
  margin-top: 20px;
  padding-bottom: 9px;
}
