<% if current_user %>
  <% modal_id = "#{collectible.noid}-modal" %>
  <div class="modal fade" id="<%= modal_id %>">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn pull-right" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Add <%= "#{collectible}" %> to one of your collections:</h4>
        </div>
        <div class="modal-body">
          <%= render partial: 'form_to_add_collection', locals: { collectible: collectible } %>
        </div>
      </div>
    </div>
  </div>

  <%= link_to 'Add to Collection', add_member_form_collections_path(collectible_id: collectible.pid), data: { toggle: "modal", target: ('#' + modal_id) }, method: :get, class: "btn btn-primary add-to-collection", remote: true %>
<% end %>
