<div class="row">
  <div class="span6" id="required-information">
    <%= render "form_required_information", curation_concern: curation_concern, f: f %>
  </div>

  <div class="span6" id="additional-information">
    <%= render "form_additional_information", curation_concern: curation_concern, f: f %>
  </div>
</div>
