<% content_for :page_title, construct_page_title("#{response.status} #{action_name.humanize}") %>
<% content_for :page_header do %>
  <h1>Unauthorized</h1>
<% end %>
<p>You are not authorized to access the page.</p>
