<% content_for :page_header do %>
  <h1>Internal Server Error</h1>
<% end %>

<p>
CurateND has encountered a problem.
We have been notified of the problem and will be looking into it.
It is possible that the error was temporary so feel free to try again in a bit.
</p>