<% content_for :page_title, construct_page_title(details[:title]) %>
<% content_for :page_header do %>
  <h1><%= details[:title] %></h1>
<% end %>

<%- if details[:response_type] == :not_found -%>
  <p>
  The page you are looking for may have been removed, had its name changed, or is temporarily unavailable.
  </p>

  <h2>Please try the following:</h2>
  <ul>
    <li>If you typed the page address in the Address bar, make sure that it is spelled correctly. </li>
    <li>Go to the <a href="/">homepage</a>, and then look for links to the information you want.</li>
    <li>Click the Back button on your browser to try another link. </li>
    <li>If you reached this page using a bookmark, the page you're looking for may have moved.</li>
  </ul>
<%- else -%>
  <p><%= details[:message] %></p>
<%- end -%>