<% if @collection_options.present? || available_profiles.present? %>
  <% modal_id = "#{document.noid}-modal" %>
  <div class="modal fade" id="<%= modal_id %>">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Add <%= document %> to:</h4>
        </div>
        <%= render partial: 'curate/collections/form_to_add_member', locals: { collectible: document, fieldset_class: 'with-side-padding with-top-padding' } %>
      </div>
    </div>
  </div>

  <%= link_to 'Add to Collection', add_member_form_collections_path(collectible_id: document.pid), data: { toggle: "modal", target: ('#' + modal_id) }, method: :get, class: "pull-right btn add-to-collection", remote: true %>
<% end %>
