.action-bar {
  padding-bottom:.25em;

  .nav-pills {
    margin-bottom:0;
  }

  a,
  a:hover,
  a:visited {
    color: $blue;
  }
}

.page-breadcrumbs {
  border-bottom:1px solid $dropdownDividerTop;
  padding-bottom:.25em;

  .breadcrumb {
    margin-bottom: 0;
  }

  a,
  a:hover,
  a:visited {
    color: $blue;
  }

}