.input-xxxlarge {
  box-sizing:border-box;
  width:100%;
}

legend small {
  margin-left:.5em;
}

.label-large {
  font-size: 110%;
  line-height: 1.2;
  padding: .3em .6em;

  input[type="checkbox"]{
    margin:-2px 0 0;
  }
}

.control-group.error input,
.control-group.error text {
  color:$grayDark;
}
