<% content_for :page_header do %>
  <h1><%= @collection %> <span class="human_readable_type">(<%= @collection.human_readable_type %>)</span></h1>
<% end %>
<%= render 'form' %>
<h2>Collection Members</h2>
<div id="documents" class="clear">
  <%= list_items_in_collection(@collection) %>
</div>
