<table class="table table-striped">
  <caption class="accessible-hidden">List of collections</caption>
  <thead>
  <tr>
    <th>Title</th>
  </tr>
  </thead>
  <tbody>
    <%= render documents.collect{|a| a.to_model}, :as => :document %>
  </tbody>
</table>
