<% content_for :page_header do %>

<h2>What are you uploading?</h2>
<p>Before we can begin we need to know a little about what you're uploading.</p>

<% end %>

<form>
  <fieldset>
    <legend>Describe Your Files</legend>

    <label>Select File Type</label>
    <select>
      <option value="senior_thesis">Senior Thesis</option>
    </select>

    <div class="form-actions">
      <%= link_to 'Continue', new_curation_concern_senior_thesis_path, :class => "btn btn-primary" %>
    </div>

  </fieldset>
</form>
