<% content_for :page_header do %>

<h2>What are you uploading?</h2>
<p>Before we can begin we need to know a little about what you're uploading.</p>

<% end %>

<form id="new_classify">
  <fieldset>
    <legend>Describe Your Files</legend>

    <label>Select File Type</label>
    <select name="classify[curation_concern]" id="classify_curation_concern">
      <option />
      <option value="senior_thesis">Senior Thesis</option>
      <option value="law_journal">Law Journal</option>
    </select>

    <div class="form-actions">
      <%= link_to 'Continue', new_curation_concern_senior_thesis_path, class: "btn btn-primary" %>
      <%= link_to 'Cancel', dashboard_index_path, class: "btn btn-link" %>
    </div>

  </fieldset>
</form>
