<% content_for :main_column_class, 'span8 offset2' %>
<% content_for :page_header do %>

<h2>CurateND Terms of Service </h2>
<hr/>

<% end %>

<%= form_tag terms_of_service_agreements_path, method: :post, id: "terms_of_service" do %>

<article class="terms-of-service redacted">
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean convallis luctus
  fringilla. Donec scelerisque molestie est, eget pellentesque purus porttitor ac.
  Duis eros augue, elementum laoreet posuere blandit, pharetra eu elit. Proin a
  felis non lacus sollicitudin suscipit in sed ante. Vivamus eu urna id metus
  consequat accumsan sed eget diam. Vivamus fringilla quam nibh, ut congue est.
  Cras vel sem eros. Sed justo enim, egestas nec auctor a, placerat id purus.
  Curabitur fringilla ornare justo quis mollis. Proin nec tristique nunc.
  Suspendisse ullamcorper auctor lectus.
</p>
<p>
  Integer blandit laoreet justo. Aenean malesuada ullamcorper orci, vel porta elit
  facilisis sed. Mauris eu turpis at enim rhoncus blandit sit amet vitae nisi.
  Donec ac dolor massa. Proin at lorem mauris. Curabitur porta fringilla nulla,
  vel tincidunt elit ullamcorper eu. Cras pellentesque, sapien et rutrum blandit,
  neque nisl ultricies tortor, dignissim vulputate odio mauris eget magna. Nulla
  ac metus arcu. Aliquam urna quam, semper eu feugiat eu, malesuada in purus.
  Quisque tortor augue, tristique nec lobortis ac, vulputate id enim. In consequat
  nisi gravida est porttitor non scelerisque mauris vestibulum. Maecenas lorem
  ante, gravida sollicitudin varius sed, porta quis elit.
</p>
<p>
  Aliquam at placerat ipsum. Fusce velit metus, placerat in aliquet non,
  sollicitudin vitae augue. Duis laoreet, nunc at malesuada rutrum, lectus quam
  laoreet ipsum, at lobortis orci tortor eu arcu. In mi lacus, vehicula eu
  imperdiet ac, congue nec libero. In semper justo a tortor aliquam varius.
  Integer arcu nulla, elementum non condimentum eu, accumsan ut nisl. Duis ac
  lectus lectus. Sed egestas neque nec lacus consectetur eu consectetur tortor
  tempor. Nulla in dui eros. Vivamus interdum facilisis pharetra. Nulla sit amet
  tortor id tellus facilisis vulputate et eget libero. Nam vehicula leo vitae
  velit facilisis eleifend. Nullam ornare velit ac elit scelerisque vel elementum
  ante ullamcorper. Nullam auctor ipsum at lacus lobortis iaculis. Ut euismod
  pharetra pellentesque. Morbi orci urna, placerat sit amet ultrices ut,
  adipiscing vel elit.
</p>
<p>
  Curabitur ultricies accumsan dolor, eu blandit orci cursus in. Vivamus congue
  tellus id nibh aliquam malesuada lobortis volutpat ipsum. Sed vitae nisi libero.
  Morbi posuere mattis fringilla. Cras nisl mi, bibendum sed mollis quis, mattis
  ac urna. Fusce sodales dolor nec nunc aliquam volutpat. Nulla ut posuere neque.
  Mauris id lectus in eros iaculis mollis. Donec tincidunt bibendum bibendum.
  Vestibulum turpis quam, ultrices vitae sollicitudin quis, rutrum ultricies
  sapien. Donec sit amet massa felis. Sed et magna et metus sagittis auctor sed
  nec lectus. Suspendisse viverra enim in velit ultrices volutpat.
</p>
<p>
  Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
  mus. Nunc erat quam, placerat sit amet pulvinar quis, congue sed velit. Sed id
  malesuada lectus. Etiam vestibulum diam eget augue sollicitudin eget lacinia
  orci lobortis. Proin lectus nisl, dictum vitae vestibulum ut, accumsan quis sem.
  Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
  mus. Vestibulum feugiat vehicula ipsum, in tempus justo vestibulum sit amet.
  Etiam vestibulum nisi sed turpis auctor aliquam. Ut tempor condimentum eros,
  eget elementum nunc rutrum ut.
</p>
<p>
  Etiam sit amet leo felis, at condimentum ante. Quisque pulvinar, metus sed
  pharetra pulvinar, odio urna congue massa, sed congue augue ipsum sit amet
  lectus. Integer quam nisl, fringilla in accumsan ac, viverra porttitor lorem.
  Vestibulum rutrum tellus eget erat varius dignissim. Suspendisse tempus magna
  sed elit fermentum iaculis. Mauris sed ante in mi porta lobortis sit amet a
  velit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
  ridiculus mus. Phasellus risus nibh, feugiat ut posuere sit amet, blandit nec
  nulla.
</p>
<p>
  Mauris in purus a lacus consectetur convallis. Nullam euismod tincidunt lorem,
  nec pellentesque nisi consectetur et. Nulla vehicula porttitor justo, eu
  vehicula turpis tristique a. Praesent nec nisl magna, nec convallis urna. Proin
  molestie metus vitae quam luctus ut rutrum massa consequat. Vivamus ac purus vel
  augue vestibulum cursus. Donec at nisi a mi semper commodo sed nec enim.
  Maecenas eget elit eu tortor faucibus feugiat ac non purus. Sed eu ipsum odio,
  at pharetra sem. Vestibulum lacinia sapien non dolor malesuada condimentum.
</p>
<p>
  Curabitur rhoncus laoreet suscipit. Phasellus eu nunc felis. Praesent suscipit
  dolor sit amet ipsum aliquam pharetra. Duis feugiat tincidunt massa ac
  sollicitudin. Curabitur consequat neque sit amet ante aliquet volutpat
  vestibulum purus elementum. Vestibulum sed pellentesque tortor. Etiam vulputate
  risus in est ullamcorper nec consectetur massa congue. Vivamus metus velit,
  varius ac lacinia nec, consequat ac nibh.
</p>
</article>

<div class="form-actions centered">
  <%= submit_tag controller.i_agree_text, :class=> 'btn btn-primary' %> or <%= submit_tag controller.i_do_not_agree_text, :class=> 'btn btn-danger'  %>
</div>
<% end %>
