<% content_for :hide_page_navigation, 'yes' %>

<%= form_tag terms_of_service_agreements_path, method: :post, id: "terms_of_service" do %>
  <p>
    Here there be Terms of Service
  </p>
  <%= submit_tag controller.i_agree_text, :class=> 'btn btn-primary' %> or <%= submit_tag controller.i_do_not_agree_text, :class=> 'btn btn-danger'  %>
<% end %>
