<% content_for :page_title, curation_concern_page_title(curation_concern) %>
<% content_for :page_header do %>
  <h1>Updating Attached File to <span class="parent_container">"<%= parent %>"</span></h1>
<% end %>
<% if curation_concern.with_empty_content? %>
  <div class="alert">
    <strong>Hey!</strong> it looks like this file didn’t upload correctly.<br />
    Try uploading it again below. Please contact <%= support_email_link %>  if you have any problems.
  </div>
<% end %>
<%= render 'form' %>
