<p>
  <%= link_to 'Back to Dashboard', dashboard_index_path %> |
  <%= link_to 'Show Generic File', polymorphic_path([:curation_concern, curation_concern]) %>
</p>
<h2 class="non lower">Not Implemented</h2>