<% content_for :page_title, curation_concern_page_title(curation_concern) %>
<% content_for :page_header do %>
  <h1>File Details</h1>
<% end %>

<%= render "attributes", curation_concern: curation_concern %>

<% if can? :edit, curation_concern %>
  <div class="form-actions">
    <%= link_to "Edit This File", edit_polymorphic_path([:curation_concern, curation_concern]), class: 'btn btn-primary'  %>
  </div>
<% end %>
