
<footer id="footer" class="container">
  <div class="row">
    <div class="span12">
      <p>
        CurateND is a service of the <a href="http://www.library.nd.edu">Hesburgh Libraries of Notre Dame</a>.
      </p>
      <p>
        <a href="http://www.nd.edu/copyright/">Copyright</a> &copy; <%= Time.now.year %> <a href="http://www.nd.edu">University of Notre Dame</a>
      </p>
      <p>
        Powered by <a href="https://github.com/curationexperts/sufia">Sufia</a>, a <a href="http://projecthydra.org">Hydra</a> project.
      </p>
      <p>
        Build: <%= Rails.configuration.build_identifier %>
      </p>
    </div>
  </div>
</footer>
