<footer id="footer" class="container">
  <div class="row">
    <div class="span12">
      <p>
        Powered by <a href="https://github.com/ndlib/curate">Curate</a> and <a href="https://github.com/projecthydra/sufia">Sufia</a>.<br />
        Made possible by the <a href="http://projecthydra.org">Hydra</a> project.
      </p>
      <p>
        Build: <%= Curate.configuration.build_identifier %>
      </p>
    </div>
  </div>
</footer>
