<div id="footer-wrapper" class="row">
  <div id="footer">
      <p>
        Powered by <%= link_to "Sufia", "https://github.com/curationexperts/sufia" %>
        a part of <%= link_to "Project Hydra", "http://projecthydra.org/" %>.
      </p>
      <p>
        <%= link_to "Copyright", "http://www.nd.edu/copyright/"%> &copy;
        <%= Time.now.year %> University of Notre Dame
      </p>
    <div class="clearfix"></div>
  </div><!-- /footer -->
</div><!-- /footer-wrapper -->
