<header id="banner" role="banner">
  <hgroup>
    <div id="brand-bar-wrapper">
      <div id="brand-bar" class="container">
        <div class="row">

          <div class="university span40">
            <h3><a href="http://nd.edu" tabindex="-1">University <i>of</i> Notre Dame</a></h3>
          </div>

          <div class="division span40">
            <h2><a href="http://www.library.nd.edu" tabindex="-1">Hesburgh Libraries</a></h2>
          </div>

        </div>
      </div>
    </div>
    <div id="title-bar-wrapper">
      <div id="title-bar" class="container">
        <div class="row">

          <div class="site-title span60">
            <h1>CurateND</h1>
          </div>

          <div class="site-search span60">
            <%= render :partial => 'catalog/search_form' %>
          </div>

        </div>
      </div>
    </div>
  </hgroup>
</header>
