<header id="banner" role="banner">
  <hgroup>
    <div id="brand-bar-wrapper">
      <div id="brand-bar">
        <div class="university">
          <h3><a href="http://nd.edu">University <i>of</i> Notre Dame</a></h3>
        </div>
        <div class="division">
          <h2><a href="http://www.library.nd.edu">Hesburgh Libraries</a></h2>
        </div>
      </div>
    </div>
    <div id="title-bar-wrapper">
      <div id="title-bar">
        <h1>CurateND</h1>
      </div>
    </div>
  </hgroup>
</header>
