@import "compass";

$dark-blue     : #0D407B;
$official-blue : #002B5B;
$official-gold : #DCB439;

a, a:visited, a:hover {
  color: #0058cf;
}

#brand-bar-wrapper {
  background-color:$dark-blue;
  @include background-image(linear-gradient($dark-blue, #07366C 85%, #001834));
  border-bottom:1px solid #001834;
  padding:.85em 0;

  h2 a, h3 a {
    color:#FFF;
  }
}

#title-bar-wrapper {
  background-color:$official-gold;
  @include background-image(linear-gradient(#F5E59E, $official-gold 98%, #9C7012));
  border-top: 1px solid #FFF;

  h1 {
    color:$official-blue;
    @include text-shadow(#FFF 0 0 1px)
  }
}

#main {
  h1,h2,h3,h4,h5,h6 {
    color:$official-blue;
  }
}

#footer {
  color:#999;
}
