@import "compass";

$headerFontStack : GalaxiePolarisCondensedBook, 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
$serifFontStack  : 'Adobe Garamond', Georgia, serif;

#banner {
  font-family:$serifFontStack;

  h1,h2,h3 {
    font-weight:normal;
  }

  h1 {
    margin:.65em 0;
  }

  a {
    text-decoration:none;
  }
}

#brand-bar-wrapper {
  letter-spacing:.2em;
  padding:.15em 0;
  text-transform:uppercase;

  h2, h3 {
    font-size:.95em;
    margin:0;
  }

  .division {
    text-align:right;
  }

  i {
    letter-spacing:0;
    padding:0 .2em;
    text-transform:none;
  }
}

#main {
  h1,h2,h3,h4,h5,h6 {
    font-family:$headerFontStack;
    font-weight:normal;
    text-rendering: optimizeLegibility;
  }
}

.getting-started a {
  font-family:$serifFontStack;
  font-size:2em;
  padding:.5em;
}

legend {
  font-family:$headerFontStack;
}

#footer {
  text-align:center;

  p {
    margin-bottom:.3em;
  }
}

.accessible-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
