<% content_for :main do %>

  <header id="banner" role="banner">
    <hgroup>
      <div id="brand-bar-wrapper">
        <div class="container">
          <div id="brand-bar" class="row">
            <div class="university span6">
              <h3><a href="http://nd.edu">University <i>of</i> Notre Dame</a></h3>
            </div>
            <div class="division span6">
              <h2><a href="http://www.library.nd.edu">Hesburgh Libraries</a></h2>
            </div>
          </div>
        </div>
      </div>
      <div id="title-bar-wrapper">
        <div class="container">
          <div id="title-bar" class="row">
            <div id="site-title" class="span8">
              <h1><%= link_to 'CurateND', root_path %></h1>
            </div>
            <div id="site-search" class="span4">
            </div>
          </div>
        </div>
      </div>
    </hgroup>
  </header>

  <div id="main" role="main" class="container">
    <%= yield %>
  </div>

  <%= render '/footer' %>

<% end %>

<%= render :template => 'layouts/boilerplate' %>
